.favorites__main{
    background-color: #181a1e;
    padding: var(--p-1);
    font-family: "Poppins",sans-serif;
}
.favorites__main > h1 {
    text-align: center;
    margin-bottom: 10px;
    pointer-events: none;
}
.empty-characters__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-self: center;
    place-content: center;
    place-items: center;
    height: 200px;
    gap: 1em;
}
.empty-characters__wrapper h2{
    color: var(--color-warning);
}
.empty-characters__wrapper button {
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: var(--fw-bold);
    background-color: var(--clr-primary);
    color: var(--clr-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 300ms ease;
  }
  
.empty-characters__wrapper button:hover {
    background-color: var(--color-primary-1);
}

.characters-grid { 
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,min(270px));
    gap: 0.8em;
    font-family: inherit;
}
.favorites__main .fav-character_card {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    height: 100%;
    border-radius: 5px;
    background-color: var(--clr-bg);
    border:1px solid var(--clr-border);
    font-family: inherit;
}
.favorites__main .fav-character_card .fav-character_img {
    position: relative;
    width: 100%;
}
.favorites__main .fav-character_card .fav-character_img .remove-character__btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    padding: 1em;
    height: 24px;
    width: 24px;
    opacity: 0.5;
    border: none;
}
.favorites__main .fav-character_card .fav-character_img .remove-character__btn:hover {
    opacity: 1;
}
.favorites__main .fav-character_card .fav-character_img .remove-character__btn svg {
    position: inherit;
    fill: var(--color-danger);
}
.favorites__main .fav-character_card .fav-character_img img {
    border-radius: 5px 5px 0 0 ;
}
.favorites__main .fav-character_card .fav-character__info {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    padding: 0.5em;
    text-align: start;
    font-family: inherit;
    word-wrap: break-word; /* Breaks long words */
    overflow-wrap: break-word;
    font-weight: 500;
}
