.home_main {
  display: flex;
  background-color: rgba(0, 0, 0, 0.563);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
  padding: var(--p-1);
  background-image: url(../assets/rick-and-morty-banner.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip:border-box;
  background-blend-mode: multiply;
}
.home_main h1 {
  /* color: var(--clr-primary-light); */
  letter-spacing: -3px;
  font-size: 90px;
  font-weight: 900;
  font-family: "Karla";
  text-wrap: balance;
  line-height: 120%;
  text-align: center;
  pointer-events: none;
}
.home_main h2 {
  letter-spacing: -3px;
  font-size: 50px;
  font-weight: 700;
  font-family: "Karla";
  text-wrap: balance;
  line-height: 120%;
  text-align: center;
  pointer-events: none;
  font-style: italic;
}
.explore_home {
  display: flex;
  gap: 0.7em;
}
.explore_home button { 
  font-size: 30px;
  font-weight: 900;
  font-family: inherit;
  padding: 0.5em 1.1em;
  background-color: var(--clr-primary); 
  color: var(--clr-white);
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
}
.explore_home .home_personality-quiz-btn {
  background-color: var(--clr-primary-light); 
}
.explore_home button:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5); 
  transform: translateY(-2px); 
}
@media (max-width: 1117px) {
  .home_main h1 {
    font-size: 60px;
  }
  .home_main h2 {
    font-size: 30px;
  }
  .home_main button {
    font-size: 25px;
  }
}
@media (max-width: 736px) {
  .home_main h1 {
    font-size: 40px;
  }
  .home_main h2 {
    letter-spacing: 0;
    font-size: 20px;
  }
  .explore_home button {
    font-size: 18px;
  }
}