.notfound_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--clr-bg);
  padding: var(--p-1);
}

.notfound_main h1 {
  font-size: 8rem;
  color: var(--clr-primary-light);
  margin: 0;
  font-weight: var(--fw-bold);
}

.notfound_main h2 {
  font-size: 2rem;
  color: var(--clr-white-variant);
  margin: 0.5rem 0;
}

.notfound_main p {
  font-size: 1.2rem;
  color: var(--clr-light);
  margin-bottom: 1.5rem;
}

.notfound_main button {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  font-family: var(--ff-base);
  font-weight: var(--fw-bold);
  background-color: var(--clr-primary);
  color: var(--clr-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 300ms ease;
}

.notfound_main button:hover {
  background-color: var(--color-danger);
}
